.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: blanchedalmond;
}

.container div {
    /* color: white; */
    /* vertical-align: middle; */
    height: 60px;
    width: 200px;

    background-color: wheat;
    text-align: center;
    /* line-height: 100px; */
    font-size: 16px;
    margin: 5px;
    /* padding-top: 10px; */
    border-radius: 50px;
    border-style: outset;
}

.container .greater {
    font-size: 2.5em;
    text-transform: uppercase;
    display: inline;
    border-style: initial;
}

.input-hidden {
    display: block;
    position: absolute;
    top: 0;
    color: transparent;

}

.input-hidden:hover {
    color: inherit;
}

#howmaner {

    right: 0%;
}

#audios {
    top: inherit;
    bottom: 0%;
}


.tim {
    color: transparent;
    border-color: transparent;
    font-size: 1em;
    width: 1;
    outline: none;
    appearance: none;
}

.tim:hover {
    color: inherit;
    border-color: inherit;
}

.tim:not(:hover) {
    opacity: 0;
}


#my {
    display: block;
    width: 30%;
    height: 50px;
    background-color: aquamarine;
    margin: 10% 30%;
    font-size: 40px;
    text-align: center;
}